@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --RoseWhite: hsl(330, 100%, 98%);
    --Rose: hsl(332, 51%, 32%);
    --Eggshell: hsl(30, 54%, 90%);
    --WengeBrown: hsl(30, 10%, 34%);
    --Brown: hsl(14, 45%, 36%);
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    margin-bottom: 0;
}

h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
}

h3 {
    font-family: "Young Serif", serif;
    color: var(--Rose);
}

p {
    color: var(--WengeBrown);
    font-size: 16px;
    margin-top: 0.5rem;
}

hr {
    height: 1px;
    background-color: gainsboro;
    border: none;
}

li {
    margin-bottom: 1rem;
}

body {
    background-color: var(--Eggshell);
    font-family: "Outfit", sans-serif;
    display: flex;
    margin: 0rem;
    flex-direction: column;
    align-items: center;
}

img {
    height: 250px;
    width: 100%;
    margin: 0;
}

li {
    padding-left: 1rem;
    color: var(--WengeBrown);
}

.container {
    background-color: white;
}

.prep-time {
    padding: 0.2rem 1rem;
    font-size: 0.9rem;
    border-radius: 10px;
    background-color: var(--RoseWhite);
}

.side-margin {
    margin-left: 1rem;
    margin-right: 1rem;
}

.brown-text {
    color: var(--Brown);
}

.bold-text {
    font-weight: bold;
}

.remove-left-margin {
    padding-inline-start: 1.6rem;
}

.nutrition-row {
    display: flex;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid gainsboro;
}

.nutrition-row:nth-last-of-type(1) {
    border-bottom: none;
}

.nutrition-type {
    display: flex;
    width: 50%;
    margin-left: 2rem;
    color: var(--WengeBrown);
}

.nutrition-value {
    display: flex;
    width: 50%;
    color: var(--Brown);
    font-weight: 700;
}

/* Media query for mobile screens */
@media (min-width: 700px) {
    body {
        display: flex;
        justify-content: center;
    }

    img {

        height: 300px;
        width: 100%;
        border-radius: 15px;
    }

    .container {
        background-color: white;
        width: 600px;
        border-radius: 15px;
        padding: 1.4rem 1.4rem;
        margin: 50px 0;
    }
}